/* здесь используйте глобальные переменные */
// FONTS

$font-family:         "Lato", sans-serif;

// COLORS

$color-default-white:          #ffffff;
$color-default-black:          #000000;

$color-accent-primary:         #3e9cdc;

$color-summer-sky:             #43abf0;
$color-endeavour:              #286690;
$color-black-russian:          #10101d;
$color-black-russian-lighten:  #2a2b30;
$color-black-jaguar:           #272733;
$color-blue-zodiac:            #3d4050;
$color-dolphin:                #6f6d7b;
$color-silver:                 #bbbbbb;
$color-silver-lighten:         #c3c3c3;
$color-white-smoke:            #f1f1f1;
$color-endeavour:              #286690;

// VIEWPORTS

$tablet-width:                     768px;
$desktop-width:                   1440px;
