.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 183px;
  margin: 0;
  padding: 14px 32px;

  font-family: inherit;
  font-size: 13px;
  line-height: 13px;

  border-width: 1px;
  border-style: solid;
  border-color: $color-default-white;
  border-radius: 4px;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  transition: background-color 0.2s ease-in-out;
  cursor: pointer;

  &--accent {
    background-color: $color-accent-primary;
    color: $color-default-white;

    &:hover {
      background-color: $color-summer-sky;
    }

    &:active {
      background-color: $color-accent-primary;
    }
  }

  &--secondary {
    background-color: $color-default-white;
    border-color: $color-dolphin;
    color: $color-black-russian-lighten;

    &:hover {
      background-color: $color-white-smoke;
    }
  }

  &:focus {
    outline-color: $color-endeavour;
  }
}
