.container {
  --padding-offset: 15px;

  width: 100%;
  max-width: $tablet-width;
  margin: 0 auto;
  padding: 0 var(--padding-offset);

  @include viewport-tablet {
    --padding-offset: 30px;
    // max-width: $tablet-width;
  }

  @include viewport-desktop {
    --padding-offset: 90px;
    max-width: 1350px;
    // max-width: $desktop-width;
  }
}
