.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include viewport-tablet {
    gap: 30px;
  }

  @include viewport-desktop {
    gap: 40px;
  }
}

.form__fieldset {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;

  margin: 0;
  padding: 0;
  border: 0;

  @include viewport-tablet {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  @include viewport-desktop {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

.form__label input,
.form__label select {
  width: 100%;

  &::placeholder {
    color: $color-black-jaguar;
  }
}

.form__label input[type="text"],
.form__label input[type="email"],
.form__label select {
  padding: 12px 10px;
  background-color: rgba($color-default-white, 0.85);
  border: 1px solid $color-default-white;
  border-radius: 3px;
}

.form__label {
  &--select {
    @include viewport-tablet {
      grid-column: 1 / -1;
    }

    @include viewport-desktop {
      grid-column: 1 / 2;
    }
  }

  &--range {
    @include viewport-desktop {
      grid-column: 1 / 3;
    }
  }
}

.form__button {
  &--accent,
  &--secondary {
    width: 100%;
    max-width: 100%;
    padding: 12px 10px;
    font-size: 15px;
    line-height: 22px;
  }

  &--accent {
    @include viewport-desktop {
      align-self: center;
      max-width: 370px;
    }
  }

  &--secondary {
    gap: 10px;
    max-height: 48px;
  }
}
