.main-header {
  position: sticky;
  top: 0;
  z-index: 2;

  display: flex;
  align-items: center;
  padding: 30px 0;
  background-color: $color-black-russian;

  @include viewport-tablet {
    height: 84px;
    opacity: 0.9;
  }

  @include viewport-desktop {
    height: 100px;
  }
}

.main-header__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include viewport-tablet {
    flex-direction: row;
    align-items: flex-end;
  }
}

.main-header__logo {
  display: block;
  height: 21px;
}

.main-header__logo img {
  display: block;
}
