.main-header {
  background-color: $color-black-russian;

  opacity: 0.9;
}

.main-header__wrapper {
  display: flex;
  flex-direction: column;
}

.main-header__logo {
  display: inline-flex;
  height: 21px;
}

.main-header__logo img {
  display: block;
}
