.process__list {
  --gap: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap);

  margin: 0;
  padding: 0;
  list-style: none;

  @include viewport-desktop {
    --gap: 30px;
    flex-direction: row;
  }
}

.process__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  width: 100%;
  max-width: 209px;
  padding: 0 10px;

  &::after {
    content: "";

    display: flex;
    width: 110px;
    height: 6px;

    background-color: $color-silver-lighten;
    mask-image: url("../../images/icons/stack.svg#bullets");

    @include viewport-desktop {
      position: absolute;
      top: 47px;
      left: 100%;
      transform: translateX(calc(-50% + var(--gap) / 2));
    }
  }

  &:last-of-type::after {
    display: none;
  }
}

.process__icon {
  --size: 70px;

  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  width: var(--size);
  height: var(--size);

  background-color: $color-accent-primary;
  border: 3px solid $color-endeavour;
  border-radius: var(--size);

  @include viewport-desktop {
    --size: 100px;
    border: 5px solid $color-endeavour;
  }
}

.process__icon svg {
  width: 30px;
  height: 30px;

  @include viewport-desktop {
    width: 55px;
    height: 55px;
  }
}

.process__description {
  margin: 0;

  font-size: 16px;
  line-height: 19px;

  text-align: center;

  @include viewport-desktop {
    margin: 0;
  }
}
