:root {
  --item-width: 209px;
}

.process__list {
  --gap: 20px;

  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;

  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  justify-content: center;

  gap: var(--gap);

  margin: 0;
  padding: 0;
  list-style: none;

  @include viewport-tablet {
    // flex-wrap: wrap;
    // flex-direction: row;
    // align-items: flex-start;

    grid-template-columns: repeat(3, var(--item-width));
  }

  @include viewport-desktop {
    --gap: 30px;
    // flex-direction: row;

    grid-template-columns: repeat(5, var(--item-width));
  }
}

.process__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  width: 100%;
  max-width: var(--item-width);
  padding: 0 10px;

  @include viewport-tablet {
    &:nth-child(3n+3)::after {
      display: none;
    }

    &:last-of-type::after {
      display: none;
    }
  }

  @include viewport-desktop {
    &:nth-child(3n+3)::after {
      display: block;
    }
  }

  &::after {
    content: "";

    display: flex;
    width: 110px;
    height: 6px;

    background-color: $color-silver-lighten;
    mask-image: url("../../images/icons/stack.svg#bullets");

    @include viewport-tablet {
      position: absolute;
      top: 35px;
      left: 100%;
      transform: translateX(calc(-50% + var(--gap) / 2));
    }

    @include viewport-desktop {
      top: 47px;
    }
  }

  // &:last-of-type::after {
  //   display: none;
  // }
}

.process__icon {
  --size: 70px;

  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  width: var(--size);
  height: var(--size);

  background-color: $color-accent-primary;
  border: 3px solid $color-endeavour;
  border-radius: var(--size);

  @include viewport-desktop {
    --size: 100px;
    border: 5px solid $color-endeavour;
  }
}

.process__icon svg {
  width: 30px;
  height: 30px;

  @include viewport-desktop {
    width: 55px;
    height: 55px;
  }
}

.process__description {
  margin: 0;

  font-size: 16px;
  line-height: 19px;

  text-align: center;

  @include viewport-desktop {
    margin: 0;
  }
}
